<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts de Sávio</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Veja este post", post %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Post", new_post_path %>
<%= link_to "Voltar", root_path %>
